<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>db_userid</param-name>
        <param-value>asummerford</param-value>
    </context-param>
    <context-param>
        <param-name>db_password</param-name>
        <param-value>G9eV8FueXjhq</param-value>
    </context-param>
    <listener>
        <listener-class>
             jdbc.GlobalConnectionPool
        </listener-class>
    </listener>
    <servlet>
        <servlet-name>SoapProductsServlet</servlet-name>
        <servlet-class>Tables.SoapProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductPageServlet</servlet-name>
        <servlet-class>Products.ProductPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SP_Servlet</servlet-name>
        <servlet-class>Tables.SP_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SPServlet</servlet-name>
        <servlet-class>Tables.SPServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SPServlet2</servlet-name>
        <servlet-class>Tables.SPServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SPServlet3</servlet-name>
        <servlet-class>Tables.SPServlet3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SPServlet4</servlet-name>
        <servlet-class>Tables.SPServlet4</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SPServlet5</servlet-name>
        <servlet-class>Tables.SPServlet5</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SoapProductsServlet</servlet-name>
        <url-pattern>/SoapProductsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductPageServlet</servlet-name>
        <url-pattern>/ProductPageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SP_Servlet</servlet-name>
        <url-pattern>/SP_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SPServlet</servlet-name>
        <url-pattern>/SPServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SPServlet2</servlet-name>
        <url-pattern>/SPServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SPServlet3</servlet-name>
        <url-pattern>/SPServlet3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SPServlet4</servlet-name>
        <url-pattern>/SPServlet4</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SPServlet5</servlet-name>
        <url-pattern>/SPServlet5</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
